{% extends "base.html" %}
{% load static %}


{% block title %}DHCP{% endblock %}

{% block right %}

    <section class="content-header">
        <h1>
            DHCP服务器管理
            <small>
                <b></b>
            </small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title" id="status">支持DHCP服务启停 192.168.96.20与172.16.66.88互相切换，应对双网卡设备！切换网段会自动重启DHCP服务~~~</h3>
                    </div>
                    <div class="box-body">
                        <!--<a href="{% url 'dhcp_operate' %}?keyword=use " class="btn btn-success">DHCP使用</a>-->
                        <!--<a href="{% url 'dhcp_operate' %}?keyword=stop " class="btn btn-success">停止DHCP服务</a>-->
                        <!--<a href="{% url 'dhcp_operate' %}?keyword=start " class="btn btn-success">启动DHCP服务</a>-->
                        <!--<a href="{% url 'dhcp_operate' %}?keyword=restart " class="btn btn-success">重启DHCP服务</a>-->
                        <!--<a href="{% url 'dhcp_operate' %}?keyword=switch " class="btn btn-success">切换DHCP网段</a>-->
                        <!--<a href="{% url 'dhcp_operate' %}?keyword=status " class="btn btn-success">DHCP状态</a>-->
                        <p>DHCP 192.168.96.20操作</p>

                        <a href="javascript:void(0)" onclick="showstatus('use')" class="btn btn-success">DHCP当前使用</a>
                        <a href="javascript:void(0)" onclick="showstatus('stop')" class="btn btn-warning">停止DHCP服务</a>
                        <a href="javascript:void(0)" onclick="showstatus('start')" class="btn btn-success">启动DHCP服务</a>
                        <a href="javascript:void(0)" onclick="showstatus('restart')" class="btn btn-primary">重启DHCP服务</a>
                        <a href="javascript:void(0)" onclick="showstatus('switch')" class="btn btn-danger">切换DHCP网段</a>
                        <a href="javascript:void(0)" onclick="showstatus('status')" class="btn btn-info">DHCP当前状态</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

<script type="text/javascript">
function showstatus(keyword) {
    $.ajax({
        url: '/computer/dhcp_operate?keyword=' + keyword,
        type: 'GET',
        dataType: 'text',
        timeout: 5000,
        cache: false,
//        beforeSend: LoadFunction, //加载执行方法
        error: erryFunction,  //错误执行方法
        success: succFunction //成功执行方法
    })
//    alert(url)
    function LoadFunction() {
        $("#status").html('');
    }
    function erryFunction() {
        alert("error");
    }
    function succFunction(status) {
        $("#status").html('');
        $("#status").html(status);
    }
}
</script>

{% endblock %}
